body {
  background-image: url('http://www.publicdomainpictures.net/pictures/110000/velka/chalkboard-or-blackboard.jpg');
  background-size: cover;
  
  padding: 0;
  margin: 0;
}

.container {
  height: 95vh;
  width: 80vw;
  
  position: relative;
  margin: 0 10vw;
}

@media (max-width: 480px) {
  .container {
    height: 100vh;
    width: 100vw;
    
    position: relative;
    margin: 0;
  }
}

.title {
  height: 15vh;
  
  position: relative;  
  padding-top: 5vh;
  padding-bottom: 4vh;
  
  text-align: center;
  color: rgba(255,255,255,0.9);
  font-family: 'Gochi Hand', cursive;
  font-size: 12vh;  
}


@media (max-width: 785px) {
  .title {
    font-size: 68px;
  }  
}

@media (max-width: 500px) {
  .title {
    font-size: 44px;
  }  
}

.reset {
  height: 3vh;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%,-100%);
      -ms-transform: translate(-50%,-100%);
          transform: translate(-50%,-100%);
  text-align: center;
  color: rgba(255,255,255,0.9);
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  border-bottom: solid 2px rgba(0,0,0,0);
}

.reset:hover {
  border-bottom: solid 2px white;
  cursor: pointer;
}

.players {
  border: solid 1vh white;
  
  height: 50vh;
  width: 50%;
  min-width: 300px;
  
  position: relative;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%); /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* Safari */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; /* Safari */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; /* Safari */
  -ms-flex-pack: distribute;
      justify-content: space-around; /* Safari */
  -ms-flex-line-pack: distribute;
      align-content: space-around; /* Safari */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    
  font-family: 'Gochi Hand', cursive;
  color: white;
}

.p-q {
  height: 25%;
  width: 35%;
  min-width: 280px;
  
  padding-top: 2%;
  
  text-align: center;
  font-size: 40px; /* Safari */
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;  
}

.p-a {
  height: 50%;
  width: 45%;
  min-width: 280px; /* Safari */
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* Safari */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; /* Safari */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; /* Safari */
  -ms-flex-pack: distribute;
      justify-content: space-around; /* Safari */
  -ms-flex-line-pack: distribute;
      align-content: space-around; /* Safari */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-b {
  height: 80%;
  width: 40%;
  
  border: dashed 1vh white;
  
  text-align: center;
  font-size: 18vh;
}

.p-b:hover{
  border: solid 1vh white;
  cursor: pointer;
}

.game {
  height: 71vh;
  width: 71vh;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%,0%);
      -ms-transform: translate(-50%,0%);
          transform: translate(-50%,0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  height:23vh;
  width: 23vh;
  font-family: 'Gochi Hand', cursive;
  font-size: 23vh;
  color: white;
  text-align: center;
}
.box:hover{
  cursor: pointer;
}

.bot {
  border-bottom: solid 1vh white;
}
.right {
  border-right: solid 1vh white;
}